body{
    background-color: #f1f3f5;
}
.image1{
    border-radius: 69%;
    width: 104px;
    height: 121px;
}
.image2{
    border-radius: 50%;
    width: 72px;
}
.cards{
    margin-left:50px;
    display: flex;
    margin-top:30px
}
.card-title{
    letter-spacing: 3px;
    color:#566573 ;
}
.input-item{
    background-color: #D6DBDF;
    padding: 42px 60px 34px 166px;
    border-radius: 20px;
    border: solid 1px #AEB6BF ;
}
.box-button {
    border-radius: 20px;
    padding: 9px 94px 9px 86px !important;
    font-weight: 500;
}
.role{
    
    color: #5499C7 ;
    font-weight: 500;
}
.all-expert {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .box-item{
      text-align: center !important;
      margin-left:500px;
  
      
  }
  .comment{
      color: #5DADE2;
  }
  .title-experts{
      text-transform: uppercase;
      color:#566573 ;
      letter-spacing: 2px;
      margin-right: 900px;
  }
  .more-infos{
   background-color:#5DADE2 ; ;
   border-radius: 50px;
   padding: 0 40px ;
   color:white;
   font-weight: 500;
  }